@using HCRGUniversityApp.Infrastructure.Global;
@model HCRGUniversityApp.Domain.Models.UserModel.User
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divPassword">
    @using (Html.BeginForm(GlobalConst.Actions.UserController.ChangePassword, GlobalConst.Controllers.User, FormMethod.Post, new
        {
            id = "frmPassword",
            enctype = "multipart/form-data",
            data_bind = "ajaxForm:{ success: function(responseText, statusText,xhr ,$form){ChangePasswordSuccess(responseText)},beforeSubmit: ChangePasswordFormBeforeSubmit,clearForm : true }"
        }))
        {
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="site-block-title">
                    <h2>Change Password</h2>
                </header>
            </div>
            <!-- col-sm-12 -->
        </div>
        <div class="row">
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label class="textbox-label">OTP :</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="PasswordOTP2" required="required" maxlength="6" placeholder="Password OTP" autocomplete="off" class="form-control Numeric" name="PasswordOTP2" />
                        <input type="hidden" class="form-control" name="PasswordOTP" value="@Model.PasswordOTP" placeholder="enter Password">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label class="textbox-label">Temporary Password :</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <input type="password" required="required" data-bind="jqBootstrapValidation: {}" class="form-control" autocomplete="off" name="TempPassword" placeholder="Enter Password">
                        <input type="hidden" required="required" data-bind="jqBootstrapValidation: {}" class="form-control" name="UID" value="@Model.UID" placeholder="enter Password">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label class="textbox-label">New Password :</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" id="Password" required="required" autocomplete="off" data-validation-regex-regex="^(?=.*\d)(?=.*[a-zA-Z]).{8,}$" data-validation-regex-message="Must contain atleast 8 Characters with atleast one Number" data-bind="jqBootstrapValidation: {}" placeholder="New Password" class="form-control set-padding" name="Password" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label class="textbox-label">Confirm Password :</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" autocomplete="off" placeholder="Confirm Password" required="required" class="form-control set-padding" data-bind="jqBootstrapValidation: {}"
                            data-validation-match-match="Password" name="Cpassword" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="submit-btn" id="resetpass" aria-hidden="true">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
    if (@ViewBag.Message != null)
        {
             <script type="text/javascript">
                window.onload = function () {
                    alertify.alert('@ViewBag.Message',
                            function () {
                                window.location = '/Home/'
                            });
                };
            </script>
        }
    }
</div>

@section scripts{
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
<script src="~/Scripts/knockout/viewmodel/views/User/ChangePasswordViewModel.js"></script>
<script type="text/javascript">
    var changePasswordViewModel = new ChangePasswordViewModel();
    ko.applyBindings(changePasswordViewModel, $("#divPassword").get(0));
</script>
}