@using HCRGUniversityApp.Infrastructure.Global;
@model HCRGUniversityApp.Domain.ViewModels.LoginViewModel.LoginViewModel
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@{
    ViewBag.Title = "User";
}
@Html.Partial("~/Views/Shared/_Loader.cshtml")
 <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/alertify/alertify.min.js"></script>
<script type="text/javascript">
    function validateLogin() {        
        if (document.getElementById("txtUsername").value == "" || document.getElementById("txtPassword").value == "")
            alertify.alert("Username or Password can not be blank(s).");
        else {
            $.post("/User/ValidateLoginUserSession", {
                UserName: document.getElementById("txtUsername").value
            }, "json").done(function (response) {
                if (response != "na") {
                    alertify.confirm('This account is already logged in. Do you sure want to override login ?', function (e) {
                        if (e)
                        {
                            $.post("/User/CleardLoginSession", {
                                UserID: response
                            }, "json").done(function (response) {
                                document.forms[1].submit();
                            });
                        }
                    });                        
                }
                else
                    document.forms[1].submit();
            });
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <header class="site-block-title">
                <h2>LOGIN</h2>
            </header>
        </div>
        <!-- col-sm-12 -->
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-sm-6">
            <h4>If you don't have an account with <span class="spanWebsiteName1"></span></h4>
            <h3 class="register-head">Registration Signup</h3>
            <div id="divAddUser">
                @using (Html.BeginForm(GlobalConst.Actions.UserController.Add, GlobalConst.Controllers.User, System.Web.Mvc.FormMethod.Post, new
                        {
                            id = "frmAddUser",
                            enctype = "multipart/form-data"
                        }))
                        {
                            @Html.AntiForgeryToken()
                        @Html.Hidden("eventId", Model.PreviousLog)  
                    	<div class="clearfix row">
                            <div class="padt-20">
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">First Name : <span class="active-link">*</span></label>
                                    <input type="text" autocomplete="off" name="FirstName" id="FirstName" required="required" data-bind="jqBootstrapValidation: {}" class="form-control set-padding" placeholder="First Name" value="@ViewBag.FirstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Last Name : <span class="active-link">*</span></label>
                                    <input type="text" autocomplete="off" class="form-control set-padding" required="required" data-bind="jqBootstrapValidation: {}" name="LastName" id="LastName" placeholder="Last Name" value="@ViewBag.LastName">
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Email : <span class="active-link">*</span></label>
                                    <input type="email" autocomplete="off" id="emailIDExists" class="form-control set-padding" required="required" autocomplete="off"
                                        name="EmailID" placeholder="Your Email Address" data-bind="jqBootstrapValidation: {}" value="@ViewBag.EmailID" />
                                    <img id="imgLoader" src="~/Content/img/loading3.gif" style="display: none" />
                                    <div id="messageblock" style="display: none">
                                        <p class="help-block" style="color: #ab1135;">Email ID Already Exists</p>
                                    </div>
                                    <div id="messageblockEmailFormat" style="display: none">
                                        <p class="help-block" style="color: #ab1135;">Email Format is not Correct</p>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Company :</label>
                                    <input type="text" autocomplete="off" class="form-control set-padding" name="Company" placeholder="Your Company" value="@ViewBag.Company" />
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Phone : (Optional)</label>
                                    <input type="text" autocomplete="off" id="txtPhone" class="form-control set-padding" maxlength="10" placeholder="Phone" data-validation-regex-regex="^(\d*\.\d{1,2}|\d+)$" data-validation-regex-message="Must be a number" data-bind="jqBootstrapValidation: {}" name="Phone" value="@ViewBag.Phone">
                                    @*<span id="errmsg" style="color: #ab1135;"></span>*@
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Professional Title :</label>
                                    <input type="text" autocomplete="off" class="form-control set-padding" placeholder="Professional Title" name="ProfessionalTitle" value="@ViewBag.ProfessionalTitle">
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Choose a Password : <span class="active-link">*</span></label>
                                    <input type="password" autocomplete="off" id="Password" required="required" data-validation-regex-regex="^(?=.*\d)(?=.*[a-zA-Z]).{8,}$" data-validation-regex-message="Must contain atleast 8 Characters with atleast one Number" data-bind="jqBootstrapValidation: {}" placeholder="Password" class="form-control set-padding" name="Password" value="@ViewBag.Password" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="textbox-label">Confirm Password : <span class="active-link">*</span></label>
                                    <input type="password" autocomplete="off" placeholder="Confirm Password" required="required" id="confirmPassword" class="form-control set-padding" data-bind="jqBootstrapValidation: {}"
                                        data-validation-match-match="Password" name="Cpassword" value="@ViewBag.Password" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="mgt-10">
                                    @Html.Captcha("Refresh", "Please enter the characters above", 5, "Is required field", true)
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            @if (@ViewBag.ErrMessage == "Success")
                            {
                                <script>
                                    alertify.alert("Thanks for registration, an email has been sent to email account for verification.");
                                    $('#frmAddUser')[0].reset();
                                </script>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <p class="Error" id="CaptchaError">@ViewBag.ErrMessage </p>
                                </div>
                            }
                        </div>
                <div class="checkbox col-lg-12 mtl-15">
                    @*<label>
                        <input required="required" type="checkbox" id="checkboxID" />I agree to the
                         <i class="fa fa-location-arrow rotate-45-right marginright10"></i>
                        <span class="active-link"><a href="#" onclick="PopUpOpenSearch('termsconditions')"><span class="spanWebsiteName1"></span>Terms & Conditions</a> </span>
                    </label>
                    *@
                    <button id="BtnAdding" type="button" class="submit-btn pull-right adjust-margin">Submit</button>
                </div>
                <br />
                }
            </div>
        </div>
        <!-- col-sm-6 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-1 visible-lg visible-md visible-sm">
                    <div class="left-shadow">&nbsp;</div>
                </div>
                <div class="col-md-11 col-xs-11">
                    <div class="clearfix login-form">
                        <h4>&nbsp;</h4>
                        <h3 class="register-head">Already have an account</h3>
                        <div id="divLoginUser">
                            @using (Html.BeginForm("Index", "User", FormMethod.Post, new
                                           {
                                               id = "frmLoginUser",
                                               enctype = "multipart/form-data",
                                               data_bind = "beforeSubmit: UserLoginInfoFormBeforeSubmit,clearForm : true",
                                               @class = "form-signin"
                                           }))
                                           {
                                                @Html.AntiForgeryToken()
                                              @Html.Hidden("eventId", Model.PreviousLog)
                                               if (Model.InvalidMsg != null)
                                               {                                               
                                                    <div class="alert alert-danger">@Html.DisplayTextFor(m => m.InvalidMsg)</div>
                            }
                                    <br />
                            <div class="clearfix row">
                                <div class="col-md-11 col-lg-8 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="textbox-label">Log in with your email :</label>
                                        <input type="email" autocomplete="off" required="required" data-bind="jqBootstrapValidation: {}"
                                            class="form-control set-padding" name="User.EmailID" id="txtUsername" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="textbox-label">Password :</label>
                                        <input type="password" autocomplete="off" required="required" data-bind="jqBootstrapValidation: {}" class="form-control set-padding"
                                            id="txtPassword" name="User.password" placeholder="Password">
                                        @Html.HiddenFor(m => m.FailedAttemptCount, new { value = Model != null ? Model.FailedAttemptCount : 0 })
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Remember" name="Remember" value="false">Remember Me
                                                <div id="checkbox-value" style="display: none;"></div>
                                            <script type="text/javascript">
                                                $('#checkbox-value').text($('#Remember').val());
                                                $("#Remember").on('change', function () {
                                                    if ($(this).is(':checked')) {
                                                        $(this).attr('value', 'true');
                                                        $(this).attr('Checked', 'Checked');
                                                    } else {
                                                        $(this).attr('value', 'false');
                                                    }
                                                    $('#checkbox-value').text($('#Remember').val());
                                                });
                                            </script>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="submit-btn login-btn" onclick="javascript:validateLogin();">Login</button>

                                    <h4 class="col-md-6 col-xs-8 padd-l0 active-link">
                                        <i class="fa fa-location-arrow rotate-45-right marginright10"></i>
                                        <!-- <img src="~/Content/img/icons_rgb.png" class="marginright10" /> -->
                                        <a href="#" id="forgetpassword" data-target="#PasswordModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="active-link">Forgot Your Password</a></h4>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <!-- clearfix -->
                </div>
                <!-- col-xs-11 -->
            </div>
        </div>
        <!-- col-sm-5 -->
    </div>
    <!-- row -->
    <div class="panel-body">
        <div id="loaderDiv" class="loaderbg" style="display: none;">
            <div id="loading" class="loader">Loading...</div>
        </div>
        <div class="modal fade" id="PasswordModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none !important;">
            <div class="modal-dialog position-center set-popup" style="top: 30%;">
                <div class="panel panel-default" style="height: 230px;">
                    <div class="panel-heading">
                        <button data-dismiss="modal" type="button" id="btnClose" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password</h4>
                    </div>
                    <div class="modal-body">
                        <div id="divReset">
                            @using (Html.BeginForm(GlobalConst.Actions.UserController.ResetPassword, GlobalConst.Controllers.User, FormMethod.Post, new
                        {
                            id = "frmReset",
                            enctype = "multipart/form-data",
                            data_bind = "ajaxForm:{ success: function(responseText, statusText,xhr ,$form){ResetPasswordSuccess(responseText)},beforeSubmit: ResetPasswordFormBeforeSubmit,clearForm : true }"
                        }))
                               {
                                @Html.AntiForgeryToken()
                                   <div id="password">
                                       <div class="panel-body">
                                           <div class="col-md-3" style="top: 10%;">
                                               <label>Email :</label>
                                           </div>
                                           <div class="col-md-9">
                                               <div class="form-group">
                                                   <input type="email" id="inputResetEmail" autocomplete="off" required="required" data-bind="jqBootstrapValidation: {}" class="form-control set-padding" name="Email" placeholder="Enter email">
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                            <div class="pull-right padding10" style="margin-right: 20px;">
                                <button class=" submit-btn" type="submit" id="resetpass" aria-hidden="true">Reset Password</button>
                                @*
                                <button type="button" data-dismiss="modal" aria-hidden="true" id="btnClose1" class="btn btn-default">Close</button>*@
                                       <span id="Message" class=" padding10 pull-left active-link"></span>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->
@section scripts{
 <script src="~/Scripts/jqBootstrapValidation.js"></script>
<script src="~/Scripts/knockout/viewmodel/views/User/RegisterViewModel.js"></script>
<script type="text/javascript">
    var model = @MvcHtmlString.Create(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var RegisterViewModel = new RegisterViewModel();
    RegisterViewModel.Init(model);
    ko.applyBindings(RegisterViewModel, $("#divAddUser").get(0));
    var loginViewModel = new LoginViewModel();
        
    ko.applyBindings(loginViewModel, $("#divLoginUser").get(0));
    var resetViewModel = new ResetViewModel();
    ko.applyBindings(resetViewModel, $("#divReset").get(0));
</script>
<script type="text/javascript">
    $(document).ready(function () {     
        var format = 0;
        $("#CaptchaInputText").click(function () {
            $("#CaptchaError").text("");
        });
        $("#BtnAdding").click(function () {
            var t = 0;
            $("#CaptchaError").text("");           
            $('.form-group').removeClass('has-error has-feedback');
            $('.form-group').find('.help-block').hide();
            $('.form-group').find('i.form-control-feedback').hide();
            if ($("#FirstName").val() == "") {
                $("#FirstName").addClass("validation-error");
                t = 1;
            }
            else 
                $("#FirstName").removeClass("validation-error");
            if ($("#LastName").val() == "") {
                $("#LastName").addClass("validation-error");
                t = 1;
            }
            else 
                $("#LastName").removeClass("validation-error");
            if ($("#Password").val() == "") {
                $("#Password").addClass("validation-error");
                t = 1;
            }  
            else 
                $("#Password").removeClass("validation-error");
       
            if ($("#emailIDExists").val() == "") {
                $("#emailIDExists").addClass("validation-error");
                t = 1;
            }  
            else 
                $("#emailIDExists").removeClass("validation-error");
            if ($("#confirmPassword").val() == "") {
                $("#confirmPassword").addClass("validation-error");
                t = 1;
            }
            else 
                $("#confirmPassword").removeClass("validation-error");
            if ($("#CaptchaInputText").val() == "") {
                $("#CaptchaInputText").addClass("validation-error");
                t = 1;
            } 
            else 
                $("#CaptchaInputText").removeClass("validation-error");
         
            //if($("#checkboxID").prop('checked') == false){
            //    $("#checkboxID").addClass("validation-error");
            //    alertify.alert("Terms & Conditions not checked");
            //    t = 1;
            //}
            //else 
            //    $("#checkboxID").removeClass("validation-error");     
            if(t == 0 && format == 0)
            {
                $("#loaderDiv").addClass('loaderbg');
                $("#loading").show();
                $("#frmAddUser").submit();
            }
        });
    });

    $("#emailIDExists").change(function () {
        var email = document.getElementById('emailIDExists');
        var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!filter.test(email.value)) {
            $("#messageblockEmailFormat").show();
            $("#emailIDExists").addClass("validation-error");
            format = 1;
            return false;
        }
        else {
            format = 0;
            $("#emailIDExists").removeClass("validation-error");
            $("#messageblockEmailFormat").hide();
        }
    });
 
</script>

<script>
    $(function () {
        $('#CaptchaInputText').css("width", "260px");
        $('#CaptchaInputText').attr('maxlength','5');
        $('#CaptchaInputText').attr("required", "required");
        $('#CaptchaInputText').addClass("form-control");
        $('#CaptchaInputText').attr("data-bind", "jqBootstrapValidation: {}");
        $('#CaptchaInputText').keyup(function()
        {
            this.value = this.value.toUpperCase();
        });
        $('#CaptchaInputText').keydown(function (e) 
        {
            if (e.shiftKey || e.ctrlKey || e.altKey) 
            {
                e.preventDefault();
            } 
            else 
            {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) 
                {
                    e.preventDefault();
                }
            }
        });
        $("#txtPhone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //$("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

    });
</script>
<style type="text/css">
    .validation-error {
        border: 1px solid #a94442;
    }

    .Error {
        color: #a94442;
    }
</style>

}
